Q1.Create one variable containig following type of data type:

(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
one = "Sandeep"
print(one,type(one))

Sandeep <class 'str'>

In [2]:
two = [2,33,56,'sandeep',True,23.34,3+4j]
print(two,type(two))

[2, 33, 56, 'sandeep', True, 23.34, (3+4j)] <class 'list'>

In [3]:
third = 34.56
print(third,type(third))

34.56 <class 'float'>

In [4]:
fourth = (23,45,33,'sandeep',False,33.33,4+7j)
print(fourth,type(fourth))

(23, 45, 33, 'sandeep', False, 33.33, (4+7j)) <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [8]:
var = '' 
type(var)

str

In [6]:
var2='[DS,ML,Python]'
type(var2)

str

In [10]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [11]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [12]:
a=20
b=4
a/b

5.0

In [17]:
a=20
b=3
a%b

2

In [18]:
a=50
b=3
a//b

16

In [19]:
a=2
b=3
a**b

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
my_list = [23,45,6,7,'sandeep',True,45.66,5+8j,'pwskills',76]
for x in my_list:
    print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [29]:
a = int(input('enter a num'))
b= int(input('enter a num'))
counter = 0
while counter>0:
    if (a//b)==0:
        counter+=1
print(counter)

enter a num80
enter a num5
0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [31]:
my_list = [4,6,8,7,98,78,67,56,45,34,43,23,45,6,7,99,89,567,765,4456,4334,2345,33455,334,53455,34554,45554,765,765,76534,345,765,890,987,5678,8765,4568764,567654,56788]
for x in my_list:
    if x%3==0:
        print(x,'elements divisible by 3')
    else:
        print(x,'not divisible by 3')

4 not divisible by 3
6 elements divisible by 3
8 not divisible by 3
7 not divisible by 3
98 not divisible by 3
78 elements divisible by 3
67 not divisible by 3
56 not divisible by 3
45 elements divisible by 3
34 not divisible by 3
43 not divisible by 3
23 not divisible by 3
45 elements divisible by 3
6 elements divisible by 3
7 not divisible by 3
99 elements divisible by 3
89 not divisible by 3
567 elements divisible by 3
765 elements divisible by 3
4456 not divisible by 3
4334 not divisible by 3
2345 not divisible by 3
33455 not divisible by 3
334 not divisible by 3
53455 not divisible by 3
34554 elements divisible by 3
45554 not divisible by 3
765 elements divisible by 3
765 elements divisible by 3
76534 not divisible by 3
345 elements divisible by 3
765 elements divisible by 3
890 not divisible by 3
987 elements divisible by 3
5678 not divisible by 3
8765 not divisible by 3
4568764 not divisible by 3
567654 elements divisible by 3
56788 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
Mutable data types = mutables data types are those datatypes whose value can be changed in place after ther have been created.
example = list,dictionart,set


immutable data types = are those data types that cannot be modified or alter after they have been created.
example = int,float,tuple,string,complex